---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

const currentYear = new Date().getFullYear();
const years_xp = currentYear - 2017;
---

<html lang="en">
	<head>
		<MainHead title="About | Dario Karanovic" description="About Dario Karanovic" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Me</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1619410283995-43d9134e7656?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
				/>
			</div>
			<div class="bio wrapper">
				<p>As a passionate developer with a keen interest in building robust software, I have always been driven to make people's lives easier and their interactions with web applications and programs more impactful.

					With a background in Human Behaviour from McMaster University, I have spent several years exploring how technology can enhance our world. This journey led me to create EvalPal, a tool designed to streamline the grading process and make classroom management as efficient as possible.
					
					When I’m not coding or brainstorming new ideas, I enjoy things like reading, playing video games, or drinking a nice coffee. I believe that a balanced life fuels creativity and innovation, principles I bring into every project I undertake.
					
					Thank you for visiting my site! Whether you’re here to explore EvalPal or just want to connect, I’m glad you stopped by. Feel free to reach out if you have any questions, or simply want to share insights — collaboration and feedback are always welcome.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
