---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

const currentYear = new Date().getFullYear();
const years_xp = currentYear - 2017;
---

<html lang="en">
	<head>
		<MainHead title="About | Dario Karanovic" description="About Dario Karanovic" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Me</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1619410283995-43d9134e7656?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
				/>
			</div>
			<div class="bio wrapper">
				<p>I'm passionate about computers, software and robotics. 
					For the past {years_xp} years, I've been building various things ranging from mobile to web applications, as well as many algorithms
					and solutions to problems.<br><br>
					I have experience writing code in various languages, frameworks and libraries. I would say
					I am currently most fluent in Python, C and JavaScript (and yes, TypeScript too). The frameworks I have used in the past were Unity
					and Gatsby. I used Unity to build a VR mobile app, and I used Gatsby to build various full-stack websites.
					I built this website using Astro's framework, so I'm fairly adept with it too.
					I also have experience writing my code with React.js and Node.js, as well as the very famous HTML/CSS markup combo.
					<br><br>
					My miscellaneous projects and types of software would be using RSLogix 5000 to program 
					PLCs (Programmable Logic Controllers). Past projects include a 4-way traffic intersection, as well as designing
					different motors, machines and industrial components to function under certain pretenses and conditions using 
					ladder and function-block logic routines.<br><br>
					Not all of my projects are listed in this website, or even my GitHub portfolio, simply because I have completed
					some of them in private mode or did not connect version control to them.<br><br>
					I believe the reason I'm most attracted to software and electronics overall is because it's a perfect combination
					of art and logic. The endless concept of man trying to make something conscious without biologically reproducing
					it is a mechatronic engineer's ultimate dream.<br><br>
					Maybe we won't reach that dream - or maybe we will - but I find that concept, and journey, absolutely fascinating, regardless.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
